*
{
    padding: 0;
    margin: 0;
}

.header
{
    height: 100%;
    background-image: url(images/53cf3216af89accadaa89d355625a1ae.jpg), linear-gradient(skyblue, rgb(66, 179, 244));
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20px;
    text-align: center;
}

.header img
{
    width: 130px;
    float: left;
}

.logIn-btn
{
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid black;
    border-radius: 50px;
    background: transparent;
    color: black;
    float: right;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.signUp-btn
{
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid black;
    border-radius: 50px;
    background: transparent;
    color: black;
    float: right;
    padding-right: 2px;
}

.header-right
{
    float: right;
    padding-top: 50px
    
}

.header h1
{
    padding-top: 250px;
    padding-bottom: 0;
    font-size: 35px;
}

.header p
{
    margin: 20px;
}

.input-group
{
    width: 90% !important; 
    max-width: 500px;
    border-radius: 30px;
    margin: auto;
    padding: 2px;
}

.input-group .form-control
{
    border: 0 !important;
    border-radius: 30px !important;
    margin: 2px;
    box-shadow: none !important;
}

.input-group .input-group-text
{
    width: 100px;
    background-image: linear-gradient(cyan, palegoldenrod); 
    border: 0 !important;
    color: white !important;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none;
}

/* features section */

.features
{
    padding: 100px;
}

.features h2
{
    text-align: center;
    padding-bottom: 30px;
}

.feature-img img
{
    width: 100%;
    height: 35%;
}

.feature-price
{
    height: 30px;
    background: #ff5722;
    color: white;
}

.feature-img
{
    position: relative;
}

.features .fa
{
    font-size: 15px;
    color: #ff5722;
}

.feature-details
{
    padding: 20px;
    text-align: left;
}

.feature-details h4
{
    font-weight: 600;
}

.feature-details p
{
    font-size: 13px;
}

.feature-details .fa
{
    margin-right: 5px;
}

.feature-details span
{
    font-size: 12px;
}

.feature-box
{
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    margin-bottom: 30px;
    height: 100%;
}

/* The image gallary part */

.gallary
{
    padding: 100px 0;
    background: #efefef;
}

.gallary h1
{
    text-align: center;
}

.gallary-box
{
    position: relative;
    margin-bottom: 30px;
}

.gallary-box img
{
    width: 100%;
    height: 30%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.gallary-box img:hover
{
    transform: scale(1.1);
}

.gallary-box h4
{
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-shadow: -2px 2px 2px #000;
    transform: translate(-50%);
    display: block;
    font-size: 20px;
}

/* Banner section */

.banner
{
    height: 80%;
    background-image: url(images/banner2.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 15%;
}

.banner-highlights
{
    padding: 70px 0;
    background: rgba(0,0,0,0.3);
    text-align: center;
    color: white
}

.booking-btn
{
    width: 120px;
    padding: 10px 0;
    outline: none;
    border: 2px solid white;
    border-radius: 50px;
    background: transparent;
    color: white;
    margin-top: 20px;
}

/* User Reviews*/

.user-feedback
{
    padding: 100px 0;
}

.user-feedback h1
{
    text-align: center;
}

.user-feedback img
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;
}


.user-review
{
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
    padding-bottom: 50px;
    height: 80%;
}

.user-review p
{
    padding: 50px 10px 10px 10px; 
}

.user-review p::before
{
    content: '\201d';
    display: block;
    position: absolute;
    font-size: 100px;
    color: #ff5722;
    font-family: sans-serif;
    left: 44%;
    top: -20px;
}

/* Footer Section */

.footer
{
    padding: 100px 20px;
    background-image: linear-gradient(cyan, palegoldenrod);
    color: black;
}

.footer-logo
{
    width: 80px;
    margin-top: 15px;
    margin-bottom: 15px; 
}

.footer h4
{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}

.footer p 
{
    font-size: 12px;
    text-align: justify; 
    padding-right: 35px;
}

.footer .row .fa
{
    padding-right: 10px;
    font-size: 14px; 
}

.footer hr
{
    margin-top: 10px;
    background: black; 
}