*
{
    padding: 0;
    margin: 0;
}

.header
{
    height: 100%;
    background-image: url(images/53cf3216af89accadaa89d355625a1ae.jpg), linear-gradient(skyblue, rgb(66, 179, 244));
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20px;
    text-align: center;
}

.header img
{
    width: 130px;
    float: left;
}

.logIn-btn
{
    width: 100px;
    padding: 8px 0;
    outline: none;
    border: 2px solid black;
    border-radius: 50px;
    background: transparent;
    color: black;
    float: right;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.signUp-btn
{
    width: 100px;
    padding: 8px 0;
    outline: none;
    border: 2px solid black;
    border-radius: 50px;
    background: transparent;
    color: black;
    float: right;
    padding-right: 2px;
}

.header h1
{
    padding-top: 250px;
    padding-bottom: 0;
    font-size: 35px;
}

.header p
{
    margin: 20px;
}

.input-group
{
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    margin: auto;
    padding: 2px;
}

.input-group .form-control
{
    border: 0;
    border-radius: 30px;
    margin: 2px;
    box-shadow: none;
}

.input-group .input-group-text
{
    width: 100px;
    background-image: linear-gradient(cyan, palegoldenrod);
    border: 0;
    color: white;
    padding: 0 25px;
    border-radius: 30px;
    box-shadow: none;
}

/* features section */

.features
{
    padding: 100px;
}

.features h2
{
    text-align: center;
    padding-bottom: 30px;
}

.feature-img img
{
    width: 100%;
    height: 35%;
}

.feature-price
{
    height: 30px;
    background: #ff5722;
    color: white;
}

.feature-img
{
    position: relative;
}

.features .fa
{
    font-size: 15px;
    color: #ff5722;
}

.feature-details
{
    padding: 20px;
    text-align: left;
}

.feature-details h4
{
    font-weight: 600;
}

.feature-details p
{
    font-size: 13px;
}

.feature-details .fa
{
    margin-right: 5px;
}

.feature-details span
{
    font-size: 12px;
}

.feature-box
{
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    margin-bottom: 30px;
}

/* The image gallary part */

.gallary
{
    padding: 100px 0;
    background: #efefef;
}

.gallary h1
{
    text-align: center;
}

.gallary-box
{
    position: relative;
    margin-bottom: 30px;
}

.gallary-box img
{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.gallary-box img:hover
{
    transform: scale(1.1);
}

.gallary-box h4
{
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-shadow: -2px 2px 2px #000;
    transform: translate(-50%);
    display: block;
    font-size: 20px;
}